body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #f8f8f8;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-div {
    margin: auto;
    display: flex;
}

.logo {
    height: 54px;
}

.x-logo-img {
    height: 40px;
    margin-top: 8px;
}

.title {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.35em;
    text-align: center;
    font-size: 40px;
    color: rgb(var(--color_15));
}

.app-store-a {
    margin-left: 12px;
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    width: 176px;
    height: 55px;
}

.app-store-img {
    border-radius: 13px;
    width: 176px;
    height: 55px;
}

main {
    margin: 120px auto 0;
    width: 90%;
}

h1,
h2 {
    color: #333;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

p {
    color: #555;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
}

ul li {
    color: #555;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #f8f8f8;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}

footer a {
    color: #555;
    text-decoration: none;
}